@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    /* 1rem = 10px */

    /* Colors */
    --cor-laranja: #FFA616;
    --cor-branca: #F9F9F9;
    --cor-preta: #1B1B1B;
    --cor-cinza: #CCCCCC;
    --cor-vermelho:#ef4444;
    --cor-verde: #22c55e;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
}


#root {
    width: 100%;
    height: 100%;
}


/* LEITOR E BIBLIOTECÁRIO */
/* Sidebar */
nav {
    width: 20rem;
    background-color: var(--cor-preta);
    height: 100%;
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: fixed;
}

nav h2 {
    color: var(--cor-branca);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

nav a {
    display: block;
    color: var(--cor-branca);
    text-decoration: none;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
    font-weight: 500;
}

nav a:hover {
    color: var(--cor-laranja);
}

#logo{
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
}

#logo img {
    width: 100%;
    height: 100%;
}

#perfil{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: solid .1rem var(--cor-cinza);
    padding: 1rem 0;
}

#perfil p{
    margin: 0 1.2rem;
    color: var(--cor-branca);
    font-weight: bold;
    font-size: 1.2rem;
}

#perfil p:nth-child(2){
    color:var(--cor-laranja);
}

#img-perfil{
    width: 3rem;
    height: 3rem;
}

#img-perfil img {
    width: 100%;
    height: 100%;
}

#logout{
    width: 2rem;
    height: 2rem;
    margin-left: .8em;
}

#logout img {
    width: 100%;
    height: 100%;
}

/* Botões */
.btn{
    background-color: var(--cor-laranja) !important;
    border: none;
    font-size: 1.2rem !important;
}

.btn-devolvido{
    background-color: var(--cor-verde) !important;
    color: var(--cor-branca) !important;
}

.btn-excluir, .btn-nao-devolvido{
    background-color: var(--cor-vermelho) !important;
    color: var(--cor-branca) !important;
}

.btn-fechar{
    background-color: transparent !important;
    border: solid .1rem var(--cor-preta) !important;
    font-size: 1.2rem !important;
    color: var(--cor-preta) !important;
}

.btn-visualizar{
    border-radius: 0rem !important;
}


